# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Build output
.sconsign.dblite
*.gcno
*.gcda
build/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

